*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
    grid-template-columns: 1fr minmax(500px, 1200px) 1fr;
    grid-template-rows: 80px auto 80px;
}
.header {
    background-color: #ff6200;
    display: flex;
    grid-area: header;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
.navigation{
    display: flex;
    gap: 15px;
    align-content: space-around;
}
a, span{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.searchForm{
   margin-left: auto;
}
.main{
    display: flex;
    grid-area: main;
}
.aside{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fa9f78;
    align-items: center;
    grid-area: aside;
}
.category{
    padding: 15px;
}
.menu{
    flex: 4;
}
.menuItem{
    padding: 10px;
    background-color: #ff6200;
    border: 5px solid #f2ebfc;
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
}
.flex-row{
}
footer{
    background-color: #ff6200;
    grid-area: footer;
}
footer>h2{
    font-weight: normal;
}
span{
    margin-top: auto;
}
.bold{
    font-weight: bold;
    text-transform: none;
}