*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 50vw;
    height: 50vh;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
div:nth-child(4){
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
div:nth-child(8){
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}
div:nth-child(9){
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}
div:nth-child(10){
    grid-column: 5 / 6;
    grid-row: 2 / 4;
}
div:nth-child(11){
    grid-column: 6 / 7;
    grid-row: 2 / 4;
}
div:nth-child(13){
    grid-column: 6 / 7;
    grid-row: 4 / 6;
}
div:nth-child(14){
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}
div:nth-child(15){
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}
div:nth-child(16){
    grid-column: 3 / 5;
    grid-row: 5 / 7;
}