* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 20px;
}
img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #f67736;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #42818a;
    border-bottom: 3px solid transparent;
    padding: 15px 30px;
    display: inline-block;
}
header a.active {
    border-color: #42818a;
}
input{
    border: 2px solid #42818a;
    outline: none;
}
.carousel{
    margin-top: 96.63px;
}
.carousel div{
    display: none;
}
.carousel div.active {
    display: block;
}
.carousel div{
    position: relative;
}
.carousel img{
    display: block;
}
.carousel span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #f67736;
    background-color: #42818a;
    padding: 10px 20px;
}
.margin-bottom40 {
    margin-bottom: 40px;
}
.up-button{
    position: fixed;
    bottom: 50px;
    right: 20px;
    color: #42818a;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f67736;
    /*padding: 40px;*/
    border-radius: 50%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.grid :nth-child(4){
    grid-column: 1 / 3 ;
    grid-row: 2 / 3;
    display: flex;
}
.grid_item{
    background-color: #42818a;
    padding: 10px;
}
.grid :nth-child(4) img{
    height: 100%;
    width: 33%;
}
.grid div:nth-child(4) > div {
    width: 67%;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 0;
}
.grid div:nth-child(4) > div > a {
    margin-top: auto;
}
.upper {
    text-transform: uppercase;
}

.grid_item a{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    text-transform: capitalize;
}
.relative{
    position: relative;
}
.itemtext{
    position: absolute;
    top: -350px;
}
.itemtext1{
    position: absolute;
    left: -276px;
    top: -25px;
}